.loginBox {
    text-align: center;
    position: relative;
}

.close {
  margin-left: 7px;
}

.input {
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
}


.loginInput {
  margin-bottom: 10px;
  margin-top: 22px;
}