
.message-text {
  display: inline-block;
  padding: 3px 8px;
  margin-left: 10px;
  border-radius: 6px;
  background: paleturquoise;
}

.delete {
  background: transparent;
  border-color: transparent;

  & i {
    color: rgb(141, 140, 140);
    font-size: 17px;
  }
}